:root {
  --primary-color: #fdecc6;
  --secondary-color: #f9c365;
  --accent-color: #ff9b6b;
  --background-color: #fafafa;
  --card-color: #ffffff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --text-color: #333;
  --hover-color: #ff9b6b;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
}

.dashboard-container {
  font-family: "Outfit";
  padding: 20px;
  margin-top: -1rem !important;
  max-width: 1200px;
  margin: 0 auto;
  /* transform: translateY(-5rem); */
  /* background: var(--background-color); */
  background-color: transparent;
}

.bento-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.chart-box,
.doughnut-chart-box {
  background: var(--card-color);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
}

.chart-box:hover,
.doughnut-chart-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.chart-box h4,
.doughnut-chart-box h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.doughnut-chart-box .doughnut-value {
  margin-top: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  color: var(--accent-color);
}

.chart-box:hover::before,
.doughnut-chart-box:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-color);
  opacity: 0.1;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.filter-container {
  margin-bottom: 30px;
  text-align: center;
}

.filter-container label {
  margin-right: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-color);
}

.filter-container select {
  padding: 10px 15px;
  border-radius: 8px;
  border: 1px solid var(--secondary-color);
  font-size: 1rem;
  color: var(--text-color);
  background: var(--card-color);
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.filter-container select:hover {
  border-color: var(--accent-color);
}

.chart-box,
.doughnut-chart-box {
  min-height: 350px;
}

@media (max-width: 768px) {
  .bento-grid {
    grid-template-columns: 1fr;
  }

  .chart-box,
  .doughnut-chart-box {
    min-height: 300px;
  }
}
